<div class="container-fluid">

    <div class="row mt-2">
        <div class="col-lg-10 col-12">

            <mat-card>
                <div class="row">
                    <div class="col-12 text-center">
                        <h2 class="font-weight-bold">विलेखों की प्रमाणित प्रतिलिपि</h2>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Application No</th>
                                <th>Owner Name</th>
                                <th>Khasara No.</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>13545</th>
                                <td>Mark</td>
                                <td>154151</td>
                                <td>Pending</td>
                                <td>
                                    <a href="#"> Verify Payment</a>
                                </td>
                            </tr>
                            <tr>
                                <th>244</th>
                                <td>Jacob</td>
                                <td>4545</td>
                                <td>Payment pending</td>
                                <td> <a href="">Pay</a> </td>
                            </tr>
                            <tr>
                                <th>3455445</th>
                                <td>Larry the Bird</td>
                                <td>4454</td>
                                <td>Approved</td>
                                <td> <a href="#">Download</a> | <a href="#">Print</a></td>
                            </tr>
                            <tr>
                                <th>3455445</th>
                                <td>Larry the Bird</td>
                                <td>4454</td>
                                <td>Payment Failed</td>
                                <td> <a href="#">Verify Payment</a> | <a href="#">Re-Pay</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-2 col-12 text-center">

            <mat-card>
                <h3 class="font-weight-bold"><i class="fa fa-info-circle"></i> जानकारी</h3>

                <p>स्टाम्प एवं रजिस्ट्रेशन विभाग द्वारा जनसामान्य की सुविधा के दृष्टिगत पंजीकृत लेख पत्र का एक पेज पर प्रमाण पत्र उपलब्ध कराने की व्यवस्था की गयी है। उक्त प्रमाणपत्र पक्षकारों एवं शैक्षणिक संस्थानों, पंजीकृत न्यास के न्यासियों आदि हेतु उपयोगी
                    है । उक्त प्रमाण मात्र रु. 100/- शुल्क के रूप में सम्बंधित उपनिबंधक कार्यालय में ऑनलाइन जमा करने के उपरांत प्राप्त किया जा सकता है।</p>

            </mat-card>


        </div>
    </div>
</div>