<div class="container-fluid row">
    <div class="col-12">
        <mat-card>
            <ng-container [ngSwitch]="stepperOrientation | async">
                <div class="row">
                    <h1 class="col-12 text-center font-weight-bold">
                        <span>
                            <mat-icon>lock</mat-icon>
                            &nbsp;प्रयोक्ता पासवर्ड
                        </span>
                    </h1>
                </div>
            </ng-container>
            <mat-divider></mat-divider>
            <mat-stepper #stepper [linear]="false" class="example-stepper" [orientation]="(stepperOrientation | async)!">
                <mat-step [stepControl]="firstFormGroup" label="अपना विवरण भरें">
                    <form [formGroup]="firstFormGroup">
                        <div class="row">
                            <div class="col-12 text-center">
                                <mat-form-field w-75 appearance="outline">
                                    <mat-label>उपयोगकर्ता आईडी *</mat-label>
                                    <input matInput formControlName="userID" placeholder="उपयोगकर्ता आईडी">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>सुरक्षा प्रश्न चुने</mat-label>
                                    <mat-select formControlName="securityQuestion">
                                        <mat-option *ngFor=" let question of securityQuestion" [value]="question">
                                            {{question}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>उत्तर दे</mat-label>
                                    <input matInput formControlName="answered" placeholder="उत्तर दे">
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <button mat-raised-button [disabled]="firstFormGroup.status != 'VALID'" color="primary" matStepperNext>आगे बढ़े</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="securityFormGroup" label="सुरक्षा">
                    <form [formGroup]="securityFormGroup">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>पासवर्ड</mat-label>
                                    <input matInput formControlName="newPassword" type="password" #password placeholder="पासवर्ड">
                                </mat-form-field>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12">
                                <mat-form-field appearance="outline">
                                    <mat-label>पासवर्ड पुष्टि कीजिये</mat-label>
                                    <input #newConfirmPassword formControlName="newConfirmPassword" matInput placeholder="पासवर्ड पुष्टि कीजिये">
                                </mat-form-field>
                            </div>
                        </div>
                        <div>
                            <button mat-button color="warn" class="mx-3" matStepperPrevious>पिछला</button>
                            <button mat-raised-button color="primary" matStepperNext [disabled]="securityFormGroup.status != 'VALID'">पासवर्ड बदलें</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>सम्पन </ng-template>
                    <p>You are now done.</p>
                    <div>
                        <a type="button" routerLink="/" mat-raised-button color="accent">लॉगिन</a>
                    </div>
                </mat-step>
            </mat-stepper>
        </mat-card>
    </div>
</div>