<div class="container-fluid">
    <div class="row shadow-lg">
        <div class="col-12 d-block d-sm-block d-md-none text-center">
            <h6>
                <span><b class="text-primary">I</b>NSPECTOR <b class="text-primary">G</b>ENERAL OF <b
                        class="text-primary">R</b>EGISTRATION AND SUPERINTENDENT OF <b class="text-primary">S</b>TAMP
                </span>
            </h6>
        </div>
        <div class="col-12 text-info d-none d-sm-none d-md-block border-bottom border-top border-danger bg-light">
            <div class="row">
                <div class="col-12 border-bottom border-danger text-right" style="height: 20px; background-color: #0D4F89">
                    <a href="#english" title="English" class="text-white mx-1 float-end">English</a>
                    <a href="#hindi" title="हिन्दी" class="text-white mx-1 float-end">हिन्दी </a>
                    <a href="#" title="Skip to main content" class="text-warning float-end">Skip to main
                        content </a>
                </div>
            </div>

            <!-- background image -->
            <div class="row" style="background-image: url(../../../assets/images/bg.png);  background-repeat: repeat-x;">
                <div class="col-1">
                    <img class="" id="ctl00_Image2" src="../../../assets/images/logo.png" alt="e-Search" style="height:90px;width:90px;border-width:0px;">
                </div>
                <div class="col-10 text-dark text-center" style="font-weight: bolder;">
                    <h2 style="font-size: 2.4vw">
                        <b class="text-primary">I</b>NSPECTOR <b class="text-primary">G</b>ENERAL OF <b class="text-primary">R</b>EGISTRATION AND SUPERINTENDENT OF <b class="text-primary">S</b>TAMP<br>
                        <!-- <small class="text-secondary font-weight-bold">Govt. of CG India</small> -->
                    </h2>
                </div>
                <!-- <div class="col-2" style="background-image: url(../../../assets/images/);">
                </div> -->
                <div class="col-1">
                    <img id="ctl00_Image3" src="../../../assets/images/Spinning_Ashoka_Chakra.gif " alt="e-Search " style="height:90px;width:90px;border-width:0px;">
                </div>
            </div>
            <div class="row border-top border-danger text-right text-white" style="height: 20px; background-color: #0D4F89 ">
                <div class="col-10">
                    <marquee>
                        <p class="font-italic" style="font-family:Cambria; font-size:12pt"><span id=""><b
                                    style="color:Yellow; ">Notice: </b> No new notification</span></p>
                    </marquee>
                </div>
                <div class="col-2">
                    <p>
                        <small><span id="time" name="time">{{nowTime}}</span></small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>