<div class="container-fluid">
    <div class="row">

        <div class="col-lg-10 col-12 mt-2">
            <mat-card>
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="font-weight-bold">सम्पत्ति खोजें</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 offset-lg-2 offset-md-1">
                        <ul class="h5 font-weight-bold">
                            <li> <a routerLink="../searchByRegistration">पंजीकरण संख्या एवं पंजीकरण दिनांक/पंजीकरण
                                    वर्ष</a> </li>
                            <li> <a routerLink="../searchByBuyer">क्रेता का नाम(31 दिसंबर 2018 से पूर्व पंजीकृत विलेखों के विवरण)</a> </li>
                            <li> <a routerLink="../searchBySeller">विक्रेता का नाम(31 दिसंबर 2018 से पूर्व पंजीकृत विलेखों के विवरण)</a> </li>
                        </ul>
                    </div>
                </div>
            </mat-card>
        </div>
        <div class="col-lg-2 col-12 mt-2 text-center">
            <mat-card>
                <h3 class="font-weight-bold"><i class="fa fa-info-circle"></i> जानकारी</h3>
                <p></p>
            </mat-card>
        </div>
    </div>



</div>