/* mat-form-field {
    width: 75%;
}

mat-form-field mat-label {
    font-size: 20px;
}

mat-form-field.mat-form-field-should-float mat-label {
    font-size: 20px;
} */


/* .example-stepper {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
} */